.Mountain {
  margin-bottom: 2rem;
  width: 28%;

  &-picture-container {
    height: 15rem;
    margin-bottom: 0.5rem;
    overflow: hidden;
    width: 100%;

    .Mountain-picture {
      height: 100%;

      object-fit: cover;
      width: 100%;
    }
  }

  &-name {
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    text-align: center;
  }

  &-country,
  &-region {
    margin-bottom: 0.5rem;
    padding: 0 0.5rem;
  }
}
