$darkColor: #13405d;
$middleColor: #f1b96c;
$lightColor: rgb(228, 225, 221);

$mainFont: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
